.App {
    text-align: center;
    height: 100vh;
    width: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .title {
    color:green;
    font-size: 2.5rem;
  }
  
  .label {
    color: rgb(255, 208, 0);
    margin:10px;
    font-size: 20px;
    font-weight: normal;
   
  }
  
  

  .input{
    margin: 15px 0;
    font-size: 16px;
    padding: 10px;
    width: 250px;
    border: 1px solid rgba(10, 180, 180, 1);
    border-top: none;
    border-left: none;
    border-right: none;
    background: rgba(20, 20, 20, .2);
    color: white;
    outline: none;
    margin-top: -5px;
    margin-bottom: 12px;
  }

  
  .wrapper{
    width:420px;
    height: 500px;
    background-origin: 0.5;
    margin: 30px;
    border:none;
    opacity: 0.7;
    filter: alpha(opacity=50);
    border-radius: 10px;
    background:black;
    transition: .2s;

  }

  .button {
    border: 1px solid rgba(10, 180, 180, 1);
    background: rgba(20, 20, 20, .6);
    font-size: 18px;
    color: white;
    margin-top: 20px;
    padding: 10px 50px;
    cursor: pointer;
    transition: .4s;
    box-shadow: 1px 2px 5px #000000; 
    
  }
  .button:hover{
    background: green;
    box-shadow: 1px 2px 5px greenyellow; 
  }